import { FC } from 'react'
import { PPAccessibility, PPCustomAttributes } from '../../common/components/types'

export interface {{pascalCase name}}Props
  extends PPCustomAttributes, PPAccessibility {

}

export default const {{PascalCase name}}: FC<{{PascalCase name}}Props> = ({}) => {
  return (
    <h1>Hello World {{name}}</h1>
  )
}